@tailwind base;
@tailwind components;
@tailwind utilities;
.active{
    color: #FFFFFF;
}
body{
    background-color: black !important;
}
::-webkit-scrollbar {
    width: 3px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: blue;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }